main{
  grid-area: header;
  color: rgb(0, 0, 0);
  background-color: rgb(58, 58, 97);
  text-align: center;
}
  .icon {
    margin-top: 40px;
  width: 10%;
  }
  .item-a {
    grid-area: header;
    color: rgb(0, 0, 0);
    background-color: #ef4f91ff;
    text-align: center;
    }
    .item-b {
      grid-area: main;
    color: rgb(255, 255, 255);
    background-color: #4d1b7bff;
    text-align: center;
    }
    .item-c {
      grid-area: sidebar;
    color: rgb(255, 255, 255);
    background-color: #673888ff;
    text-align: center;
    }
    .item-d {
      grid-area: footer;
    color: rgb(212, 197, 197);
    background-color: #363b74ff;
    text-align: center;
    height: 200px;
    padding-top: 35px;
    }
    .item-e {
      grid-area: image;
    background-color: rgb(178, 111, 209);
    text-align: center;
    padding: 25px;
    border-style:dashed;
    }
    .container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      grid-template-areas: 
        "header header header header"
        "main main image sidebar"
        "footer footer footer footer";
    }

nav {
    text-align: center;
    display: block;
    unicode-bidi: isolate;
    padding: 20px;
    background-color: rgb(178, 111, 209);
}
nav a {
    height: 40px;
    background-color: rgb(58, 58, 97);
    color: white;
    text-align: center;
    padding: 10px;
}

.pp_a{
  grid-area: header;
    color: rgb(0, 0, 0);
  background-color: #86d8f7ff;
  text-align: center;
}
.pp_b {
  grid-area: main;
color: rgb(0, 0, 0);
background-color: #f0438cff;
text-align: center;
}
.pp_c {
  grid-area: sidebar;
color: rgb(0, 0, 0);
background-color: #f0438cff;
text-align: center;
}
.pp_d {
  grid-area: footer;
color: rgb(0, 0, 0);
background-color: #fefbb1ff;
text-align: center;
height: 200px;
padding-top: 35px;
}
.pp_e {
  grid-area: image;
background-color: rgb(233, 108, 160);
text-align: center;
padding: 25px;
border-style:dashed;
}


.fs_a {
  grid-area: header;
  color: rgb(0, 0, 0);
background-color: #fdf6afff;
text-align: center;
}
.fs_b {
  grid-area: main;
  color: rgb(0, 0, 0);
  background-color: #f3b6cfff;
  text-align: center;
}
.fs_c {
  grid-area: sidebar;
  color: rgb(0, 0, 0);
  background-color: #6ec9c7ff;
  text-align: center;
}
.fs_d {
  grid-area: footer;
  color: rgb(0, 0, 0);
  background-color: #fdf6afff;
  text-align: center;
  height: 200px;
  padding-top: 35px;
}
.fs_e {
  grid-area: image;
  background-color: #01a29dff;
  text-align: center;
  padding: 25px;
  border-style:dashed;
}



.rd_a {
  grid-area: header;
  color: rgb(0, 0, 0);
background-color: #fdf498ff;
text-align: center;
}
.rd_b {
  grid-area: main;
  color: rgb(0, 0, 0);
  background-color: #f37736ff;
  text-align: center;
}
.rd_c {
  grid-area: sidebar;
  color: rgb(0, 0, 0);
  background-color: #7bc043ff;
  text-align: center;
}
.rd_d {
  grid-area: footer;
  color: rgb(0, 0, 0);
  background-color: #0392cfff;
  text-align: center;
  height: 200px;
  padding-top: 35px;
}
.rd_e {
  grid-area: image;
  background-color: #ee4035ff;
  text-align: center;
  padding: 25px;
  border-style:dashed;
}



.aj_a {
  grid-area: header;
  color: rgb(0, 0, 0);
background-color: #faba62ff;
text-align: center;
}
.aj_b {
  grid-area: main;
  color: rgb(0, 0, 0);
  background-color: #faf5abff;
  text-align: center;
}
.aj_c {
  grid-area: sidebar;
  color: rgb(0, 0, 0);
  background-color: #78d863ff;
  text-align: center;
}
.aj_d {
  grid-area: footer;
  color: rgb(0, 0, 0,);
  background-color: #ca9a56ff;
  text-align: center;
  height: 200px;
  padding-top: 35px;
}
.aj_e {
  grid-area: image;
  background-color: #ec3f41ff;
  text-align: center;
  padding: 25px;
  border-style:dashed;
}


.r_a {
  grid-area: header;
  color: rgb(0, 0, 0);
background-color: #e4e7ecff;
text-align: center;
}
.r_b {
  grid-area: main;
  color: rgb(0, 0, 0);
  background-color: #5fbbe7ff;
  text-align: center;
}
.r_c {
  grid-area: sidebar;
  color: rgb(0, 0, 0);
  background-color: #aadaf0ff;
  text-align: center;
}
.r_d {
  grid-area: footer;
  color: rgb(0, 0, 0);
  background-color: #61377aff;
  text-align: center;
  height: 200px;
  padding-top: 35px;
}
.r_e {
  grid-area: image;
  background-color: #594192ff;
  text-align: center;
  padding: 25px;
  border-style:dashed;
}
